<div class="bg-[#36393f] shadow-lg rounded-lg p-6 border border-[#2f3136]">
  <h1 class="text-2xl font-bold text-[#7289da] mb-4"> <%= project.title %> </h1>

  <p class="text-[#b9bbbe] mb-2">
    <b class="text-white">Description:</b> <%= project.description %>
  </p>

  <p class="text-[#b9bbbe] mb-4">
    <b class="text-white">Status:</b> 
    <span class="px-4 py-3 rounded-lg bg-[#7289da] text-white"> 
      <%= project.status.humanize %> 
    </span>
  </p>

  <%= link_to "View Project", project, 
        class: "inline-block bg-[#7289da] text-white px-4 py-2 rounded-lg hover:bg-[#5b6eae] transition duration-200" %>
</div>
